.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 16px;
}



span {
  font-family: Roboto;
  margin-left: 16px;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.25px;
  height: 25px;
}
// -------------  button search----------
.form-search {
  display: flex;
  height: 36px;
  background: white;
  border-radius: 4px;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
}

.form-search > input {
  border: none;
  width: 100%;
  font-size: 14px;
  letter-spacing: 0.15px;
  font-family: Roboto;
}

:focus {
  outline: none;
}

.icon-search {
  padding: 9px;
  opacity: 0.40;
}

.icon-cancel {
  padding: 9px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}


@media screen and (min-width: 550px) {
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    width: 66%;
    box-shadow: 0px 3px 6px #00000029;
    margin: 24px 0;
  }
}
